@using EntityLayer.Concrete
@model List<Admin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>
            Kullanıcı Mail
        </th>
        <th>
            Yetki
        </th>
        <th>
            Statüs
        </th>
        <th>
            Pasif Yap
        </th>
        <th>
            Yetkisini Değiştir
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminID</th>
            <th>@item.AdminUserName</th>
            <th>@item.AdminRole</th>
            <th>Aktif</th>
            <th><a href="/Authorization/@item.AdminID" class="btn btn-danger">Pasif Yap</a></th>
            <th><a href="/Authorization/UpdateAdmin/@item.AdminID" class="btn btn-warning">Yetkisini Değiştir</a></th>
        </tr>
    }
</table>
<a href="/Authorization/AddAdmin/" class="btn btn-info">Yeni Admin Tanımla</a>
