
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<h3>Mvc Kamp Örneği </h3>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <td>Kategori Adı</td>
        <td>Kategori Açıklaması</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Test</td>
        <td>Açıklama</td>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>

<a href="/Category/CategoryAdd/" class="btn btn-primary">Ekle</a>
